.card {
  position: relative;
  margin: 0.5rem;
  width: 250px;
  transform: scale(0.98);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1);
}

.card__img {
  height: 380px;
}

.card .average {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
