.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
