.container {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  width: 80%;
}

.btn-back {
  width: 100px;
  margin-bottom: 1.5rem;
}

.container__movie-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-details__img {
  max-width: 280px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 420px;
  width: calc(100% - 280px);
  padding: 1rem 2rem;
}

.movie-average {
  display: flex;
  align-items: center;
}

.movie-average .average {
  margin-left: 0.5rem;
}

.container__cast-details {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.container__cast-details h2 {
  text-align: center;
}

.cast-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cast-details__img {
  margin: 1rem 0 0.5rem;
  max-width: 125px;
}

.cast-details__text {
  max-width: 125px;
}

@media (max-width: 767px) {
  .movie-details {
    width: 100%;
  }
}
