.btn {
  background: linear-gradient(
    90deg,
    var(--tertiary-color) 0%,
    var(--secondary-color) 100%
  );
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  padding: 0.5rem;
  cursor: pointer;
}

.search input[type='text'] {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
