.filter-form {
  color: var(--primary-color);
  padding: 2rem;
  font-family: inherit;
  border: 1px solid #aaa;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0.7rem;
  border-radius: 0.5rem;
}

.select-options {
  width: 100%;
}

.btn-search {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #f1f1f1;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
}

input.btn.btn-search:hover {
  background-color: var(--primary-color);
}
