.btn-gradient,
.search__form input[type='text'] {
  border: none;
  border-radius: 0.4rem;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search__form input[type='text'] {
  margin-right: 0.7rem;
}

.search__form input[type='text']:focus {
  outline: 2px solid var(--tertiary-color);
}

/* Media Queries */

@media (max-width: 395px) {
  .search__form input[type='text'] {
    width: 10rem;
  }
}

@media (max-width: 672px) {
  .search__form {
    margin-top: 1rem;
  }
}
