:root {
  --primary-color: #0d253f;
  --secondary-color: #01b4e4;
  --tertiary-color: #90cea1;

  --white: #fff;
  --grey-light: #999;
  --grey-dark: #333;
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: var(--white);
  color: var(--black);
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__details {
  display: flex;
  padding: 1rem 2rem;
}

.details {
  margin: 0 2rem;
}
